@import 'variables';

//
// WRAPPER
//
.wrapper {

}

//
// TEASER
//
.teaser {
	height: 100vh;
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: center;
	padding: 100px 0 100px 0; // 20px; /* contact = 20px, menu = 40px -> 20px offset */
}


.image {
	width: 100%;
	flex: 1 1 auto;
}

//
// LOGO
//
.logo {
	width: 300px;
	right: 100px;
	bottom: 200px;
	position: absolute;

	color: $color-white;
	
	text-align: right;
	font-weight: bold;
	font-style: italic;
	font-family: 'Madera';
	font-size: $font-size-lg;
}


//
// SCROLL
//
.scroll {
	text-align: center;
	position: absolute;
	bottom: $layout-offset / 2;
}

.scroll-label {
	display: block;
	text-transform: uppercase;
}

.scroll-icon {
	display: block;
	margin: 15px 0 0;
	animation: ScrollAnimation 2s ease 0s infinite;
}

.scroll-arrow {
	display: inline-block;
	transform: rotate(-90deg);
}

@keyframes ScrollAnimation {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-20%)
    }

    100% {
        transform: translateY(0)
    }
}

//
// CONTENT
//

.content {
	margin: 5rem 0;
}

//
// PHOTOS
//
.photos {
	margin: 5rem 0 10rem;
}