/**
 * BODY
 */
body {
	// line-height: 1.3;
	color: $color-darkgrey;
	background: $color-lightgrey;
}

/**
 * PARAGRAPHS
 */
p {
	margin: 0 0 1.5rem;
}

/**
 * LINKS
 */
a {
	color: $color-darkgrey;
	text-decoration: none;
	transition: color $transition-time $transition-ease;

	&:hover {
		color: $color-white;
	}
}

/**
 * LISTS
 */
ul {
	padding: 0;
	list-style-type: disc;
	list-style-position: inside;
}

li {
	padding: 0.5rem 0;
}

/**
 * SVG
 */
svg {
	fill: $color-darkgrey;
	transition: fill $transition-time $transition-ease;
}