/**
 * TYPOGRAPHY
 */

/**
 * BASE
 */
html {
  font-size: 100%; /* = 16px */
}

body {
    font-family: 'Madera';
    font-weight: 500;
}

/**
 * HEADERS
 */
h1 {
    font-family: 'Madera';
    font-weight: bold;
    font-size: $font-size-lg; /* = 70px */
    text-transform: uppercase;
    margin: 0 0 2rem;
}

h2 {
	font-family: 'Madera';
	font-weight: 500;
	font-size: $font-size-md; /* = 24px */
	text-transform: uppercase;
    margin: 3rem 0 1rem;
}