/**
 * VARIABLES
 */

/**
 * FONTS
 */
$font-size-lg: 4.375rem;
$font-size-md: 1.5rem;


/**
 * COLORS
 */
$color-lightgrey: darken(#f5f5f3, 5%);
$color-darkgrey: #3c3c3c;
$color-white: #ffffff;
$color-black: #000000;

/**
 * LAYOUT
 */
$layout-offset: 30px;
$layout-margin: 50px;

$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1980px;