backend:
  name: github
  repo: arm1n/arminribis.com

media_folder: static/images
public_folder: /img

collections:
  - name: "pages"
    label: "Pages"
    delete: false
    editor: 
      preview: false 
    files:
      - file: "src/pages/contact/index.md"
        label: "Contact"
        name: "contact"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "contact" }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}