backend:
  name: github
  repo: arm1n/arminribis.com

media_folder: static/images
public_folder: /img

collections:
  - name: "pages"
    label: "Pages"
    delete: false
    editor: 
      preview: false 
    files:

      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "about" }
          - { label: "Body", name: "body", widget: "markdown"}
          - label: "SEO"
            name: "seo"
            widget: "object"
            fields:
            - { label: "Title", name: "title", widget: "string" }
            - { label: "Description", name: "description", widget: "string" }

      - file: "src/pages/services/index.md"
        label: "Services"
        name: "services"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "services" }
          - { label: "Body", name: "body", widget: "markdown"}
          - label: "SEO"
            name: "seo"
            widget: "object"
            fields:
            - { label: "Title", name: "title", widget: "string" }
            - { label: "Description", name: "description", widget: "string" }

      - file: "src/pages/contact/index.md"
        label: "Contact"
        name: "contact"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "contact" }
          - { label: "Body", name: "body", widget: "markdown"}
          - label: "SEO"
            name: "seo"
            widget: "object"
            fields:
            - { label: "Title", name: "title", widget: "string" }
            - { label: "Description", name: "description", widget: "string" }

