backend:
  name: github
  repo: arm1n/arminribis.com

media_folder: static/images
public_folder: /images

collections:
  - name: "categories"
    label: "Categories"
    identifier_field: name
    folder: "src/data/categories"
    create: true
    fields:
      - { label: "Template", name: "template", widget: "hidden", default: "category" }
      - { label: "Type", name: "type", widget: "hidden", default: "category" }
      - { label: "Name", name: "name", widget: "string" }

  - name: "photos"
    label: "Photos"
    folder: "src/data/photos"
    identifier_field: name
    create: true
    fields:
      - { label: "Type", name: "type", widget: "hidden", default: "photo" }
      - { label: "Name", name: "name", widget: "string" }
      - { label: "Image", name: "image", widget: "image" }
      - { label: "Description", name: "description", widget: "string" }
      - label: "Category"
        name: "category"
        widget: "relation"
        collection: "categories"
        valueField: "title"
        displayFields:
          - "title"
        searchFields:
          - "title"

  - name: "pages"
    label: "Pages"
    delete: false
    editor: 
      preview: false 
    files:

      - file: "src/pages/portfolio/index.md"
        label: "Portfolio"
        name: "portfolio"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "portfolio" }
          - { label: "Type", name: "type", widget: "hidden", default: "page" }
          - { label: "Order", name: "order", widget: "hidden", default: 1 }
          - { label: "Menu", name: "menu", widgt: "hidden", default: "main" }

          - { label: "Title", name: "title", widget: "string", required: true }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Image", name: "image", widget: "image" }
          - { label: "Scroll", name: "scroll", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown" }
          - { label: "Facebook", name: "facbeook", widget: "string" }
          - { label: "Instagram", name: "instagram", widget: "string" }

      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "about" }
          - { label: "Type", name: "type", widget: "hidden", default: "page" }
          - { label: "Order", name: "order", widget: "hidden", default: 2 }
          - { label: "Menu", name: "menu", widgt: "hidden", default: "main" }

          - { label: "Title", name: "title", widget: "string", required: true }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}
          

      - file: "src/pages/services/index.md"
        label: "Services"
        name: "services"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "services" }
          - { label: "Type", name: "type", widget: "hidden", default: "page" }
          - { label: "Order", name: "order", widget: "hidden", default: 3 }
          - { label: "Menu", name: "menu", widgt: "hidden", default: "main" }

          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}

      - file: "src/pages/contact/index.md"
        label: "Contact"
        name: "contact"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "contact" }
          - { label: "Type", name: "type", widget: "hidden", default: "page" }
          - { label: "Order", name: "order", widget: "hidden", default: 4 }
          - { label: "Menu", name: "menu", widgt: "hidden", default: "footer" }

          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}

      - file: "src/pages/legal-notice/index.md"
        label: "Legal Notice"
        name: "legal-notice"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "legal-notice" }
          - { label: "Type", name: "type", widget: "hidden", default: "page" }
          - { label: "Order", name: "order", widget: "hidden", default: 5 }
          - { label: "Menu", name: "menu", widgt: "hidden", default: "footer" }

          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}

      - file: "src/pages/privacy-policy/index.md"
        label: "Privacy Policy"
        name: "privacy-policy"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "privacy-policy" }
          - { label: "Type", name: "type", widget: "hidden", default: "page" }
          - { label: "Order", name: "order", widget: "hidden", default: 6 }
          - { label: "Menu", name: "menu", widgt: "hidden", default: "footer" }

          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}