backend:
  name: github
  repo: arm1n/arminribis.com

media_folder: static/images
public_folder: /images

collections:
  - name: "categories"
    label: "Categories"
    folder: "src/data/categories"
    create: true
    fields:
      - { label: "Name", name: "title", widget: "string" } # must be `title`

  - name: "pages"
    label: "Pages"
    delete: false
    editor: 
      preview: false 
    files:

      - file: "src/pages/portfolio/index.md"
        label: "Portfolio"
        name: "portfolio"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "portfolio" }
          - { label: "Index", name: "index", widget: "hidden", default: true }
          - { label: "Menu", name: "menu", widget: "hidden", default: true }
          - { label: "Order", name: "order", widget: "hidden", default: 1 }
          - { label: "Title", name: "title", widget: "string", required: true }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}

      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "about" }
          - { label: "Menu", name: "menu", widget: "hidden", default: true }
          - { label: "Order", name: "order", widget: "hidden", default: 2 }
          - { label: "Title", name: "title", widget: "string", required: true }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}
          

      - file: "src/pages/services/index.md"
        label: "Services"
        name: "services"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "services" }
          - { label: "Menu", name: "menu", widget: "hidden", default: true }
          - { label: "Order", name: "order", widget: "hidden", default: 3 }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}

      - file: "src/pages/contact/index.md"
        label: "Contact"
        name: "contact"
        fields:
          - { label: "Template", name: "template", widget: "hidden", default: "contact" }
          - { label: "Order", name: "order", widget: "hidden", default: 4 }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Description", name: "description", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown"}