@import 'variables';

//
// FOOTER
//
.wrapper {
	display: flex;
	align-items: center;
	padding: $layout-offset;
	background: $color-mediumgrey;
}

.menu {
	flex: 1 1 auto;
}

.menu-item {
	padding: 0;
	display: block;
	text-transform: none;
}

.copy {

}