@import 'variables';

//
// GALLERY
//
.gallery {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.photo {
	z-index: 0;
	display: block;
	overflow: hidden;
	position: relative;

	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		opacity: 0;
		content: '';
		display: block;
		position: absolute;
		transform: scaleY(0);
		background: rgba(0, 0, 0, 0.35);
		transition: all 2 * $transition-time $transition-ease;
	}

	&:hover {
		&:after {
			opacity: 1;
			transform: scaleY(1);
		}
		.image {
			transform: scale(1.15);
		}
		.caption {
			opacity: 1;
		}
	}
}

.caption {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1;
	padding: 5rem;
	display: flex;
	position: absolute;
	color: $color-white;
	align-items: center;
	justify-content: center;
	transition: opacity $transition-time $transition-ease $transition-time;
}

.image {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	position: absolute;
	transition: transform $transition-time linear;
}