@import 'variables';

//
// MENU
//
.menu {
	stroke: $color-darkgrey;
	transform-origin: 50% 50%;
	transition: transform (2 * $transition-time) $transition-ease;

	&.menu--active {
		stroke: $color-white;
		transform: rotate(360deg);

		.menu-lines {
			stroke-width: 5px;
			transform: scale(.5);
		}

		.menu-line1 {
			transform: rotate(-45deg) scaleX(.75);
		}

		.menu-line3 {
			transform: rotate(45deg) scaleX(.75);
		}

		.menu-circle {
			visibility: visible;
			stroke-dashoffset: 0;
		}
	}

	.menu-circle {
		fill: none;
		stroke-width: 2px;
		stroke-dasharray: 150;
		stroke-dashoffset: 150;

		visibility: hidden;
		transform-origin: 50% 50%;
		transition: stroke-dashoffset (3 * $transition-time)  linear (2 * $transition-time) ;
	}

	.menu-lines {
		stroke-width: 3px;
		stroke-linecap: round;
  		stroke-linejoin: bevel;

		transform: scale(.8);

		&, line {
			transform-origin: 50% 50%;
			transition: transform (2 * $transition-time) $transition-ease;
		}		
	}
}