@import 'variables';

//
// MENU
//
.menu {
	transform-origin: 50% 50%;
	transition: transform .3s ease;

	&.menu--active {
		transform: rotate(360deg);

		.menu-lines {
			stroke-width: 5px;
			transform: scale(.5);
		}

		.menu-line1 {
			transform: rotate(-45deg) scaleX(.75);
		}

		.menu-line3 {
			transform: rotate(45deg) scaleX(.75);
		}

		.menu-circle {
			opacity: 1;
			stroke-dashoffset: 0;
			transition-delay: 0.3s;
		}
	}

	.menu-circle {
		fill: none;
		opacity: 0;
		stroke-width: 2px;
		stroke-dasharray: 150;
		stroke-dashoffset: 150;
		stroke: $color-darkgrey;

		transform-origin: 50% 50%;
		transition: stroke-dashoffset .5s linear;
	}

	.menu-lines {
		stroke-width: 3px;
		stroke-linecap: round;
  		stroke-linejoin: bevel;
		stroke: $color-darkgrey;

		transform: scale(.8);

		&, line {
			transform-origin: 50% 50%;
			transition: transform .3s ease;
		}		
	}
}