@import 'variables';

//
// WRAPPER
//
.wrapper {
	margin: 0 $layout-offset + $layout-margin;
}

.main {
	text-align: center;
}

//
// LOGO
//
.logo-link {
	z-index: 2;
	position: fixed;
	top: $layout-offset;
	left: $layout-offset;
}

.logo-svg {
	width: 110px;
	height: auto;
}

//
// MENU
//
.nav {
	z-index: 1;
	position: relative;
}

.menu-toggle {
	top: 50%;
	z-index: 2;
	position: fixed;

	width: 40px;
	height: 40px;
	display: block;
	left: $layout-offset;
}

.menu-wrapper {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: $color-lightgrey;
}

//
// CONTACT
//
.contact-link {
	top: 50%;
	right: 0;
	z-index: 2;
	position: fixed;

	text-transform: uppercase;
	transform: rotate(-90deg);

	&:before {
		left: 0;
		width: 0;
		height: 100%;
		display: block;
		overflow: hidden;
		position: absolute;
		color: $color-white;
		content: attr(data-label);

		transition: width (2 * $transition-time) $transition-ease;
	}

	&:hover, 
	&.contact-link--active {
		color: inherit;
		
		&:before {
			width: 100%;
		}
	}
}