@import 'variables';

//
// WRAPPER
//
.wrapper {
	
}

.main {
	text-align: center;
	margin: 0 $layout-offset + $layout-margin;
}

.footer {
	min-height: 5rem;
	background: $color-mediumgrey;
}

//
// LOGO
//
.logo {
	z-index: 2;
	position: fixed;
	top: $layout-offset;
	left: $layout-offset;
}

.logo-link {
	display: block;
	transition: transform .75s ease;
	&:hover {
		transform: rotateX(3turn);
	}
}

.logo-svg {
	width: 110px;
	height: auto;
	transition: fill $transition-time $transition-ease;

	&:hover {
		fill: $color-white;
	}
}

//
// MENU
//
.nav {
	z-index: 1;
	position: relative;
}

.menu-toggle {
	top: 50%;
	z-index: 2;
	position: fixed;

	width: 40px;
	height: 40px;
	display: block;
	left: $layout-offset;
}

.menu-svg {
	&:hover {
		stroke: $color-white;
	}
}

//
// CONTACT
//
.contact {
	top: 50%;
	right: 0;
	z-index: 2;
	position: absolute;
	text-transform: uppercase;
	transform: rotate(-90deg);
}