@import 'variables';

$icon-size: 2rem;
$button-size: 3rem;
$button-offset: 1rem;
$modal-padding: 5rem;

//
// MODAL
//
.modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	position: fixed;
	cursor: zoom-out;
	padding: $modal-padding;
	background: $color-black;
}

//
// Lightbox
//
.wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	flex: 1 1 auto;
	cursor: pointer;
}

.image {
	margin: auto;
}

.prev,
.next,
.close {
	border: none;
	outline: none;
	display: flex;
	cursor: pointer;
	background: none;
	position: absolute;
	align-items: center;
	width: $button-size;
	height: $button-size;
	fill: $color-darkgrey;

	transition: all $transition-time $transition-ease;

	&:hover {
		fill: $color-lightgrey;
	}
}

.close {
	top: $button-offset;
	right: $button-offset;

	&:hover {
		transform: scale(1.1);
	}
}

.prev,
.next {
	top: 50%;
	margin-top: -$button-size/2;
}

.next {
	right: $button-offset;
	transform: rotate(180deg);

	&:hover {
		transform: rotate(180deg) translateX(-5%);
	}
}

.prev {
	left: $button-offset;

	&:hover {
		transform: translateX(-5%);
	}
}

.icon {
	fill: inherit;
	width: $icon-size;
	height: $icon-size;
}

.caption {
	left: 0;
	right: 0;
	bottom: 0;
	padding: 2rem;
	position: fixed;
	text-align: center;
}