@import 'variables';

//
// NAVIGATION
//
.navigation {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	text-align: center;
	background: $color-lightgrey;
}

.navigation-item {
	display: block;
	font-weight: 500;
	font-family: 'Madera';
	font-size: $font-size-lg;
}

.navigation-item--active {
	color: $color-white;
}

//
// BACK BUTTON
//
.back-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
	font-weight: bold;
	font-size: $font-size-md;

	&:hover {
		.back-button-icon{
			fill: $color-white;
		}
	}
}

.back-button-icon {
	padding: 0.5rem;
	margin: 0.25rem 0 0;
	transition: fill $transition-time $transition-ease;
}