@import 'variables';

//
// NAVIGATION
//
.navigation {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	text-align: center;
	background: $color-lightgrey;
}

.navigation-item {
	display: block;
	font-weight: 500;
	font-family: 'Madera';
	font-size: $font-size-lg;
}

.navigation-item--active {
	color: $color-white;
}

//
// BACK BUTTON
//
.back-button {
	margin-top: 5rem;
	font-weight: bold;
	font-size: $font-size-md;
}