@import 'variables';

//
// HTML
//
.html-wrapper {
	margin: 0;
}

//
// CENTERED
//
.centered-wrapper {
	display: flex;
	height: 100vh;
	margin: 0 auto;
	max-width: $breakpoint-sm;
}

.centered-container {
	margin: auto;
}