@import 'variables';

//
// HTML
//
.html-wrapper {
	margin: 0;
}

//
// CENTERED
//
.centered-wrapper {
	display: flex;
	margin: 0 auto;
	max-width: 750px;
	min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.centered-container {
	margin: $layout-offset + $layout-margin auto;
}

//
// ANIMATED LINK
//
.animated-link {
	$padding: 0.5rem;

	overflow: hidden;
	position: relative;
	display: inline-block;
	text-transform: uppercase;

	&,
	&:before {
		padding: $padding;
		box-sizing: border-box;;
	}

	&:before {
		top: 0;
		width: 0;
		left: -100%;
		height: 100%;
		display: block;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		color: $color-white;
		content: attr(data-label);

		transition: width (2 * $transition-time) $transition-ease;
	}

	&:after {
		width: 0;
		bottom: 0;
		height: 2px;
		content: '';
		margin: 0 auto;
		display: block;
		left: $padding;
		right: $padding;		
		position: absolute;
		background: $color-white;

		transition: width (2 * $transition-time) $transition-ease;
	}

	&:hover, 
	&.animated-link--active {
		color: inherit;
		
		&:before {
			left: 0;
			width: 100%;
		}
	}

	&.animated-link--active {
		&:after {
			width: calc(100% - 1rem);
		}
	}
}